@import "./scssFiles/variables";
@import "./scssFiles/mediaQueries";
@import "./scssFiles/global";
@import "./scssFiles/reusableProps";
@import "./scssFiles/activeProps";
@import "./scssFiles/animations";


#welcome{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem  0;
    width: 100%;
    height: 5rem;
    background-color: transparent;
    z-index: 1;

    @include la{
        height: 6rem;
    }
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.sec-navbar{
    .logo{
        color: $clr-grey-1;
    }
}
.logo{
    font-size: calc(var(--big-font-size));
    color: #ffffff;

    span{
        color: $clr-primary-1;
    }
}
.open-hamburger-menu{
    color: #ffffff;
}
.menu-link{
    color: #ffffff;
    &::after{
        background-color: #ffffff;
    }
}



.desktop-links-wrapper{ // menu links wrapper for desktop
    .desktop-menu-links{
        display: none;

        @include la{ // including the media query
            list-style: none;
            display: flex;
            position: relative;
            transition: $main-transition;
            
            li{
                margin: 0 1rem;
            }
            
            .menu-link{
                position: relative;
                font-size: calc(var(--normal-font-size));
                transition: $main-transition;
                
                .link-icon{
                    display: none;
                }
                
                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -.5rem;
                    border-radius: .6rem;
                    width: 100%;
                    height: .275rem;
                    transform: scale(0);
                    transition: $main-transition;
                }

                &:hover{
                    &::after{
                        transform: scale(1);
                    }
                }
            }

            .section-position{
                &::after{
                    transform: scale(1);
                }
            }
        }   
    }    
}



// styles for the hamburger menu component
.hamburger-menu-wrapper{
    display: grid;
    align-content: center;
    transition: $main-transition;

    @include la{
        display: none;
    }

    .open-hamburger-menu{
        display: flex;
        align-items: center;
        justify-self: end;
        font-size: calc(var(--h1-font-size));
        cursor: pointer;
    }
    
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: $main-transition;
        z-index: 99;
        visibility: hidden;
        opacity: 0;
    }
    
    .blur{
        position: fixed;
        top: 0;
        right: 0;
        background-color: $clr-grey-1;
        width: 100%;
        height: 100vh;
    }

    .logo{
        color: $clr-grey-1;
    }
}

// styles for the links wrapper that shall be shown when the hamburger gets clicked
.hamburger-links-wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $clr-primary-4;
    height: 100vh;
    min-width: 16rem;
    transition: $main-transition;
    transform: translate(-16rem);
    
    ul{
        list-style: none;
    }
    
    // styles for the image and the close icon
    .menu-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem .9rem 1rem;
        
        img{
            width: 10rem;
            cursor: pointer;
        }
        
        .close-hamburger-menu{
            display: flex;
            align-items: center;
            font-size: calc(var(--h1-font-size));
            color: $clr-red-dark;
            cursor: pointer;
        }
    }
    
    // styles for the menu links
    .hamburger-menu-links{
        li{
            transition: $main-transition;
            
            &:hover{
                background-color: $clr-grey-2; 
            }
        }
        
        .menu-link{
            display: flex;
            align-items: center;
            text-transform: capitalize;
            padding: .8rem 1rem;
            font-size: calc(var(--big-font-size));
            color: $clr-grey-1;
            
            .link-icon{
                margin-right: .7rem;
            }
        }
    }
    
    // styles for the social media icons/links
    .sm-contact-wrapper{
        margin-bottom: 2rem;
        font-size: calc(var(--big-font-size));
        
        li{
            margin-right: 1rem;
            transition: $main-transition;
            
            a{
                color: $clr-primary-2;

                &:hover{
                    color: $clr-primary-1;
                }
            }
        }
    }
}

// styles for the social media icons/links
.sm-contact-wrapper{
    list-style: none;
    display: flex;
    justify-self: center;
    font-size: calc(var(--normal-font-size) * .9);
    
    li{
        margin-right: 1rem;
        transition: $main-transition;
        cursor: pointer;
        
        a{
            color: #ffffff;

            &:hover{
                color: $clr-primary-4;
            }
        }
    }
}


.homeBtn-wrapper{
    .homeBtn{
        position: relative;
        color: black;
        text-transform: capitalize;
        font-size: calc(var(--normal-font-size));
        letter-spacing: .1rem;
        transition: $main-transition;
        
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -.5rem;
            border-radius: .6rem;
            width: 100%;
            height: .275rem;
            background-color: black;
            transform: scale(0);
            transition: $main-transition;
        }

        &:hover{
            &::after{
                transform: scale(1);
            }
        }
    }
}



.hero{
    padding: 0;
    background-color: $clr-grey-1;
    background-image: url($heroBackground);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    color: $clr-primary-4;

    .container{
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 1rem;
        padding: 0 2rem;
        height: 100vh;
    }

    @include la{
        .container{
            gap: 1.5rem;
        }
    }
}
.hero-title{
    font-size: calc(var(--h1-font-size));
    letter-spacing: .1rem;
}
.hero-description{
    font-size: calc(var(--normal-font-size));
    letter-spacing: .1rem;
}
.hero-btn{
    justify-self: start;
}



.products-sec{
    background-color: $productSec-backgroundColor;

    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }
    
    h2{
        font-size: calc(var(--h2-font-size));
    }

    p{
        font-size: calc(var(--normal-font-size));
    }


    @include md{
        .container{

            h2{
                margin-bottom: 1.5rem;
            }
            p{
                margin-bottom: 1.5rem;
            }
            a{
                padding: .8rem 1.6rem;
            }
        }
    }

    @include la{
        .container{
            grid-template-columns: repeat(2, 25rem);
            gap: 5rem;
        }
    }
    
}
.emphasizing{
    animation: emphasize 1s ease-in-out;
    animation-iteration-count: 3;
}


.about-sec  {
    background-color: $aboutSec-backgroundColor;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        .more-info-btn{
            padding: .5rem 0;
            border: none;
            border-radius: $mainBorderRadius;
            max-width: 14rem;
            min-width: 8rem;
            width: 60%;
            background-color: $clr-primary-2;
            text-transform: uppercase;
            font-size: calc(var(--normal-font-size) * .8);
            font-weight: 700;
            color: $clr-primary-3;
            letter-spacing: .1rem;
            transition: $main-transition;
            cursor: pointer;

            &:hover{
                background-color: $clr-primary-1;
            }
        }
    }
}

.job-career-wrapper{
    display: grid;
    margin: 4rem 3rem 2rem;

    @include la{
        grid-template-columns: 20% auto;
    }

    
}
.slide-people-career-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding: 0 1rem;

    @include la{
        flex-direction: column;
        margin: 0 1rem 0 0;
    }
    
    .switch-activated{
        position: relative;
        transition: $main-transition;
        color: $clr-primary-1;
    
        &::after{
            opacity: 1;
        }
    }
}
.switch-people-career{
    position: relative;
    border: none;
    background-color: transparent;
    font-size: calc(var(--big-font-size) * .9);
    text-transform: uppercase;
    cursor: pointer;
    transition: $main-transition;
    
    &::after{
        content: "";
        position: absolute;
        bottom: -.5rem;
        left: 0;
        border-radius: .1rem;
        width: 100%;
        height: .1rem;
        background-color: $clr-primary-1;
        opacity: 0;
        transition: $main-transition;

        @include la{
            bottom: 0;
            height: 100%;
            width: .2rem;
        }
    }
    
    &:hover{
        color: $clr-primary-1;
        
        &::after{
            opacity: 1;
        }
    }
}


.job-info{
    color: $clr-grey-2;

    @include md{
        padding: 0 3rem;
    }

    @include la{
        padding: 0 2rem;
    }

    h3{
        font-size: calc(var(--h2-font-size) * .8);
        letter-spacing: .1rem;
    }

    h4{
        display: inline-block;
        margin: 1rem 0;
        padding: .5rem 1rem;
        border-radius: $mainBorderRadius;
        background-color: rgba(130, 154, 176, .3);
        text-transform: uppercase;
        font-size: calc(var(--small-font-size));
        letter-spacing: .050rem;
    }

    p{
        font-size: calc(var(--normal-font-size));
        letter-spacing: .15rem;
    }

    .job-desc{
        display: flex;
        align-items: center;
        margin-top: 1.5rem;

        span{
            margin-right: 1.2rem;
            font-size: calc(var(--normal-font-size));
            color: $clr-primary-1;
        }

        p{
            font-size: calc(var(--normal-font-size));
            letter-spacing: .025rem;
        }
    }
}



.our-review-sec{
    display: flex;
    background-color: $review-backgroundColor;
}
// style for the reviews component
.review-wrapper{
    margin: auto;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    width: 80%;
    max-width: 30rem;
    background-color: $clr-primary-4;
    text-align: center;
    color: $clr-grey-1;

    // style for the review person image
    .person-img-wrapper{
        position: relative;
        margin: 0 auto 1.5rem;
        border-radius: 50%;
        max-width: 9.375rem;
        height: 9.375rem;

        &::before{
            content: "";
            position: absolute;
            top: -0.25rem;
            right: -0.5rem;
            border-radius: 50%;
            background-color: $clr-primary-1;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .quotes-img{
            position: absolute;
            padding: .8rem;
            border-radius: 50%;
            background-color: $clr-primary-1;
            color: $clr-primary-4;
        }
        
        .person-review-img{
            display: block;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // styles for the person information
    .person-name{
        margin-bottom: .5rem;
        font-size: calc(var(--normal-font-size) * .9);
    }
    .person-occupation{
        margin-bottom: .5rem;
        color: $clr-primary-1;
        text-transform: uppercase;
        font-size: calc(var(--normal-font-size) * .9);
    }
    .person-description{
        margin-bottom: .875rem;
        color: $clr-grey-2;
        font-size: calc(var(--small-font-size));
    }

    // style for the swap review arrows
    .switch-review-wrapper{
        button{
            margin: 0 .5rem;
            padding: .5rem;
            border: none;
            background-color: transparent;
            color: $clr-primary-2;
            font-size: calc(var(--big-font-size) * 1.2);
            font-weight: 900;
            transition: $main-transition;
            cursor: pointer;

            &:hover{
                color: $clr-primary-1;
            }
        }
    }

    // styles for the get random review button
    .switch-review-btn{
        padding: .3rem .5rem;
        border: none;
        border-radius: $mainBorderRadius;
        background-color: $clr-primary-3;
        font-size: calc(var(--small-font-size));
        color: $clr-primary-1;
        transition: $main-transition;
        cursor: pointer;


        &:hover{
            background-color: $clr-primary-2;
            color: $clr-grey-1;
        }
    }
}



.contact-sec{
    background-color: $contactSec-backgroundColor;
    .container{
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
    }

    .main-title-style{
        margin: auto;
        margin-bottom: 3rem;
    }
    @include md{
        .container{
            grid-template-columns: 1fr 1fr;
        }
        .main-title-style{
            grid-column-start: 1;
            grid-column-end: 3;
            margin-bottom: 5rem;
        }
        .contact-wrapper{
            margin-bottom: 0;
        }
    }
}
.contact-wrapper{
    display: grid;
    align-content: center;
    margin-bottom: 2rem;

    .contact-title{
        margin-bottom: 1rem;
        font-size: calc(var(--big-font-size));
    }
    form{
        display: grid;
        width: 80%;

        label{
            margin-bottom: .5rem;
            font-size: calc(var(--normal-font-size));
        }

        input, textarea{
            margin-bottom: 1rem;
            padding: .4rem;
            max-width: 100%;
            line-height: 1.4;
            resize: none;
        }
        
        button{
            justify-self: start;
            text-transform: lowercase;
        }
    }

}
.googleMap-iframe-wrapper{
    min-height: 50vh;

    iframe{
        border: none;
        width: 100%;
        height: 100%;
    }
}



.loading-component{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: $main-backgroundColor;

    .loading-wrapper{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 10rem;
    
        div{
            margin: 0 .5rem;
            background-color: $clr-primary-1;
            width: 2.5rem;
        }
    
        .loading-1{
            animation: grow-h 1.2s ease-in-out infinite;
        }
        .loading-2{
            animation: grow-h 1.2s ease-in-out .2s infinite;
        }
        .loading-3{
            animation: grow-h 1.2s ease-in-out .4s infinite;
        }
    }
}



.products-preview-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
        margin-bottom: 1rem;
        text-transform: capitalize;
        font-size: calc(var(--h2-font-size));
        letter-spacing: .2rem;
    }
    p{
        margin-bottom: 1rem;
        color: $clr-grey-2;
        letter-spacing: .1rem;
    }
    a{
        align-self: flex-start;
        padding: .8rem 1.4rem;
        border-radius: .6rem;
        background-color: $clr-primary-1;
        text-transform: uppercase;
        font-size: calc(var(--normal-font-size) * .8);
        font-weight: 600;
        color: $clr-primary-4;
        letter-spacing: .1rem;
        transition: $main-transition;

        &:hover{
            background-color: $clr-primary-2;
        }
    }
}

.products-demo{
    justify-self: center;

    img{
        border-radius: 1rem;
        max-width: 20rem;
        width: 100%;
        object-fit: cover;

    }
}



.cocktail-component{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 2rem 5rem;
    background-color: $main-backgroundColor;
    min-height: 100vh;
}

.cocktail-container{
    max-width: 80rem;
    width: 100%;
    
    .goBack-btn-wrapper{
        text-align: center;
    }
    
    .cocktailComponent-img-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            border-radius: .6rem;
            width: 100%;
            max-width: 25rem;
        }
    }
    
    h2{
        margin: 2.5rem 0;
        font-size: calc(var(--h2-font-size));
        text-align: center;
        font-weight: 600;
        letter-spacing: .3rem;
    }     

    @include la{
        .cocktailComponent-img-wrapper{
            img{
                max-width: 25rem;
            }
        }
    }
}

.cocktail-info-body{
    display: grid;
    align-content: center;
    gap: 2.5rem;

    @include md{
        grid-template-columns: 40% auto;
    }
}

.cocktail-info-wrapper{
    display: grid;
    justify-content: center;

    .cocktail-info{
        margin: .3rem 0;
        max-width: 25rem;
        font-size: calc(var(--normal-font-size));
        font-weight: 600;
        line-height: 1.8rem;
        
        .cocktail-spec{
            padding: .25rem .5rem;
            border-radius: $mainBorderRadius;
            background-color: $clr-primary-2;
        }
    }
    
    @include la{
        .cocktail-info{
            margin: .6rem 0;
            max-width: initial;
            line-height: 2.2rem;
        }
    }
}



.our-products-page{
    padding: 8rem 0 6rem;
    background-color: $main-backgroundColor;
    min-height: 100vh;

    .our-products-title{
        margin: 2rem 0rem 3rem;
        color: $clr-primary-1;
        text-align: center;
        font-size: calc(var(--h2-font-size));
        letter-spacing: .2rem;
    }
}


.search-term-section{
    display: flex;
    justify-content: center;

}
.search-term-form{
    display: grid;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    border-radius: $mainBorderRadius;
    max-width: 40rem;
    width: 80%;
    background-color: #ffffff;
    font-size: calc(var(--normal-font-size));
    box-shadow: .3rem .3rem rgba(0,0,0,.5);
   
    input{
        font-size: calc(var(--small-font-size) * 1.2);
    }
    @include la{
        padding: 1.5rem 2rem;
    }

    label{
        margin-bottom: 1rem;
        color: $clr-primary-1;
        text-align: center;
        font-weight: 600;
        letter-spacing: .15rem;
    }

    input{
        padding: .4rem .5rem;
        width: 100%;
        border: none;
        background-color: $clr-primary-4;
        font-size: .9rem;
        color: $clr-grey-1;
    }
}
.cocktails-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    justify-content: center;
    align-content: center;
    gap: 3rem;
    min-height: 10rem;
    text-align: center; 
}
.cocktail-elem{
    border-radius: $mainBorderRadius;
    box-shadow: .25rem .4rem .4rem 0px rgba(0,0,0,0.4);
    transition: $main-transition;
    
    &:hover{
        box-shadow: .35rem .5rem .5rem 0px rgba(0,0,0,0.5);
    }
    
    img{
        border-top-right-radius: $mainBorderRadius;
        border-top-left-radius: $mainBorderRadius;
        width: 100%;
        object-fit: cover;
    }
}
.cocktail-content-wrapper{
    padding: 1rem;
    border-bottom-left-radius: $mainBorderRadius;
    border-bottom-right-radius: $mainBorderRadius;
    background-color: #ffffff;

    h3,h4{
        margin-bottom: .4rem;
        letter-spacing: .2rem;
    }
    
    h3{
        font-size: calc(var(--h2-font-size) * .8);
    }
    h4{
        font-size: calc(var(--h2-font-size) * .5);
    }
    p{
        margin-bottom: .8rem;
        color: $clr-grey-2;
        text-transform: capitalize;
        font-size: calc(var(--small-font-size));
    }
    a{
        padding: .4rem .6rem;
        border-radius: $mainBorderRadius;
        background-color: $clr-primary-1;
        color: #f1f5f8;
        text-transform: uppercase;
        font-size: calc(var(--small-font-size));
        letter-spacing: .3rem;

        &:hover{
            background-color: $clr-primary-2;
        }
    }
}
.noCocktail-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: .1rem;
}



.rollback-wrapper{
    position: fixed;
    right: 10%;
    bottom: -10%;
    width: 2rem;
    height: 2rem;
    font-size: calc(var(--big-font-size) * 1.5);
    transition: $main-transition;
    
    a{
        color: $clr-primary-1;
        transition: $main-transition;

        &:hover{
            color: $clr-primary-2;
        }
    } 
}
.rollback-active{
    bottom: 5%;
}



.main-footer{
    background-color: $clr-grey-1;
    .container{
        color: #ffffff;
    }
}
.footer-info-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    justify-content: center;
    grid-column-gap: 2rem;
    padding: 1rem 0;

    h4{
        display: inline-block;
        position: relative;
        padding: .5rem 0 ;
        text-transform: uppercase;
        font-size: calc(var(--small-font-size));
        letter-spacing: .1rem;

        &::after{
            content: '';
            position: absolute;
            bottom: -.2rem;
            display: block;
            border-radius: $mainBorderRadius;
            background-color: $clr-primary-1;
            width: 120%;
            height: .3rem;
        }
    }

}

.abt-footer-wrapper{
    .sm-contact-wrapper{
        margin: 1rem 0 0;

        a:hover{
            color: $clr-primary-2;
        }
    }
}

.address-footer-wrapper{
    .address-footer-icons{
        margin-right: .4rem;
    }
    p:not(:first-child){
        margin: .8rem 0 0;
    }
}

.contact-footer-wrapper{
    width: 100%;
    input{
        padding: .1rem;
        width:  100%;
    }
    textarea{
        width:  100%;
        height: 1.5rem;
        resize: none;
    }
    button{
        display: block;
        width:  100%;
    }
}


.abt-footer-wrapper, .address-footer-wrapper{
    display: flex;
    flex-direction: column;
    h4{
        margin: 0 auto 1.2rem 0;
    }
    div{
        flex-grow: 2;
        font-size: calc(var(--small-font-size) * 1.2);
        margin: auto 0;
    }
    @include la{
        .sm-contact-wrapper{
            margin: 1.8rem .5rem 0;
        }
    }
    
}

.abt-footer-wrapper, .address-footer-wrapper, .contact-footer-wrapper{
    div, form{
        margin: .9rem 0;
    }
}

.copyright-wrapper{
    padding: 0 2rem 1rem;
    text-align: center;
    line-height: 1.6;
}


.error-sec{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .error{
        text-align: center;

        h1{
            margin-bottom: 2rem;
            font-size: calc(var(--h2-font-size));
            letter-spacing: .1rem;
        }
    }
}
